* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

}

/* Main style */

nav {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 16px 0px;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
}





nav .nav-content {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;

}

nav .nav-content a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}