* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

}

/* Main style */

header {
    background-image: url(images/hero-bg.png);
    background-position: center;

}

nav {
    background-color: #FFFFFF;
}

.navber {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 16px 0px;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
}





nav .nav-content {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;

}

nav .nav-content a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}



.banner-content {
    width: 70%;
    max-width: 1360px;
    align-items: center;
    margin: 0 auto;
    padding: 115px 120px 179px 120px;

}

.hero-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.banner-btn {
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    color: #469165;
    background-color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
}

.hero-h1 h1 {
    color: #FFFFFF;
    font-size: 4em;
}

.green-h1 {
    color: #30B868;
}

.paragraph {
    line-height: 24px;
    text-align: center;
    padding-bottom: 32px;
    color: #FFFFFF;
}

.button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-2 {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 16px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;

}


.card-banner {
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
}

.card-content h2 {
    text-align: center;
    font-size: 48px;
    padding-top: 80px;
    padding-bottom: 16px;
}

.card-content p {
    text-align: center;
    color: #627382;
    padding-bottom: 44px;
}

.card-container {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;

}

.card-box {
    padding: 60px 24px;
    box-shadow: 0 0 8px 0 #00000015;
    text-align: center;


}

.card-box img {
    background-color: #F95555;
    padding: 10px;
    border-radius: 24px;
    margin-bottom: 16px;
}

.bold-p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;

}

.light-p {
    color: #627382;
    font-size: 16px;
}


.brain-content {
    width: 70%;
    max-width: 1360px;
    display: flex;
    gap: 60px;
    margin: 0 auto;
    padding-bottom: 120px;
    align-items: center;
}

.brain-box h6 {
    font-size: 16px;
    color: #469165;
    padding-bottom: 16px;
    line-height: 20px;
}

.brain-box h2 {
    font-size: 48px;
    padding-bottom: 16px;
}

.brain-box p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
}


.icon-text {
    display: flex;
    gap: 5px;



}

.icon-text img {
    height: 20px;
}


#challenge {
    margin-bottom: 120px;
}



.cta-content {
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    border: none;
    border-radius: 12px;
    align-items: center;
}

.cta-text {
    text-align: center;
    padding: 80px 20px;
}

.cta-text h2 {
    font-size: 40px;
    padding-bottom: 16px;

}

.cta-text p {
    font-size: 16px;
    color: #627382;
    padding-bottom: 24px;
}

.cta-text button {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
}

#footer {
    padding: 120px 0px 30px 0px;
    background-color: #001931;
}

.footer-container {
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;

}

.media-box p {
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 16px;
}



.end-txt {
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    color: #FAFAFA;
    padding-top: 30px;
}