* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

}

/* Main style */

header {
    background-image: url(images/hero-bg.png);
    background-position: center;

}

nav {
    background-color: #FFFFFF;
}

.navber {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 16px 0px;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
}





nav .nav-content {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;

}

nav .nav-content a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}



.banner-content {
    width: 70%;
    max-width: 1360px;
    align-items: center;
    margin: 0 auto;
    padding: 115px 120px 179px 120px;

}

.hero-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.banner-btn {
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    color: #469165;
    background-color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
}

.hero-h1 h1 {
    color: #FFFFFF;
    font-size: 4em;
}

.green-h1 {
    color: #30B868;
}

.paragraph {
    line-height: 24px;
    text-align: center;
    padding-bottom: 32px;
    color: #FFFFFF;
}

.button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-2 {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 16px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;

}